<div class = 'flex-static'>

  <div class = 'flex-image'>
    <img  src = '/images/sign.jpg' />
  </div>

  <div class = 'flex-middle'></div>

  <div class = 'article'>

    <% provide(:title, 'Sign in') %>
    <h1>Sign in</h1>

    <%= form_for(:session, url: signin_path) do |f| %>

      <div>
        <%= f.label :email %>
        <%= f.text_field :email %>
      </div>

      <div>
        <%= f.label :password %>
        <%= f.password_field :password %>
      </div>

      <div>
        <%= f.button :submit, value: 'Sign in', class: 'btn  btn-primary' %>
        <%= link_to 'forgotten password?', new_password_reset_path, class: 'spacer-left' %>
      </div>

      <div class = 'line-spacer-3'>
        <%= link_to 'New user? Sign up now!', signup_path %>
      </div>
    <% end %>
  </div>
</div>
