<td><%= user.full_name %></td>
<td><%= number_to_phone(user.home_phone) %></td>
<td>
  <% if can? :edit, user %>
   <%= link_to_edit(edit_profile_path(user)) %>
  <% end %>
</td>
<td>
  <% if can? :new, :masquerade, user %>
    <%= link_to 'Masquerade', new_user_masquerade_path(user) %>
  <% end %>
</td>
<td>
  <% if  can? :destroy, user %>
    <%= link_to_delete(user) %>
  <% end %>
</td>

