<% provide(:title, 'Update Profile') %>
<div class='row-fluid'>
  <div class='span12'>
    <h1>Update Profile</h1>
  </div>
<div>

<div class='row-fluid'>
  <div class='span6  offset3'>
  <%= simple_form_for(@user, html: { class: 'form-horizontal'}, url: edit_profile_path(@user)) do |f| %>
    <%= render 'shared/error_messages', object: f.object  %>

    <%= f.simple_fields_for :contact do |c| %>
      <%= c.input :first_name %>
      <%= c.input :last_name %>
      <%= c.input :email %>


      <%= c.simple_fields_for :address do |address| %>
        <%= render :partial => 'shared/address', :locals => {:f => address} %>
      <% end %>
      <%= c.input :home_phone %>
    <% end %>
    <div class='form-buttons'>
      <%= f.button :submit, value: 'Update Profile', class: 'primary_action_button' %>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <%= link_to 'Cancel', users_path, class: 'cancel_button' %>
    </div>
  <% end %>
  </div> <!-- span -->
</div> <!-- row fluid -->
