<% provide(:title, 'Users') %>

<div class='flex-header'>
  <h1>Users</h1>
<div>

<div class='row'>
  <div class='col-md-12'>
    <%= render 'shared/main_navigation' %>
  </div>
</div>

<div class='row'>
  <div class='col-md-12'>
    <%= form_tag users_path, method: 'get', class: 'form-inline  well'  do %>

    <div class='row'>
      <div class='col-md-offset-3  col-md-12'>
        <%= text_field_tag :search, params[:search], placeholder: 'Search', class: 'input-query  col-md-3' %>
          <button id='go_search' type='submit' value='search', class: 'standard_button' ><span class='glyphicon glyphicon-search'></span></button>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class='row'>
  <div class='col-md-offset-3  col-md-9'>

    <table class='table table-striped'>
        <thead>
        <tr>
          <th>Name</th>
          <th>Phone</th>
          <th>Edit</th>
          <th>Actions</th>
        </tr>
      </thead>
    <tbody>
      <% if @users.count > 0 %>
        <% @users.each do |user| %>
        <tr>
          <%= render user  %>
        </tr>
        <% end %>
      </tbody>
      </table>
      <% else %>
        <tr><td colspan='4'><h2>No Matching Users</h2></td></tr>
      <% end %>
    <%= will_paginate %>
    <div class='clear-fix  form-group'>
      <%= link_to 'Create User', signup_path, class: 'btn btn-primary btn-lg' %>
    </div>
  </div><!-- col-md-9 -->
</div><!--/row-->



