<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>

<div class="row">
  <div class="span6 offset3">
	<%= simple_form_for(@user, html: { class: 'form-vertical'}) do |f| %>
	  <%= render 'shared/error_messages'	%>
		<%= f.input :first_name 						%>
		<%= f.input :last_name 			 				%>
		<%= f.input :password 							%>
		<%= f.input :password_confirmation, label: "Confirm password" %>
		<%= f.input :email 					 				%>
		<%= f.fields_for :address do |address| %>
	    <%= render :partial => 'shared/address', :locals => {:f => address} %>
	  <% end %>
		<%= f.input :phone_number 		 			%>
		<%= f.button :submit, class: 'btn-primary',value: "Create my account" %>
	<% end %>
	</div>
</div>
