<% provide(:title, "Profile") %>
<h1>Profile</h1>

<div class="row">
  <div class="span6 offset3">
  <%= simple_form_for(@user, defaults: {disabled: true, required: false }, html: { class: 'form-vertical'}) do |f| %>
    <%= render 'shared/error_messages', object: f.object  %>
    <%= f.simple_fields_for :contact do |c| %>
      <%= c.input :first_name %>
      <%= c.input :last_name %>
    <% end %>
    <% end %>
  </div>
</div>


<%= link_to 'Appointments', appointments_path %>&nbsp;&nbsp;&nbsp;
<%= link_to 'Calendar', events_path %>&nbsp;&nbsp;&nbsp;
<%= link_to 'Contact Me', touches_path %>