<% provide(:title, "Profile") %>
<h1>Profile</h1>

<div class="row">
  <div class="span6 offset3">
	<%= simple_form_for(@user, defaults: {disabled: true }, html: { class: 'form-vertical'}) do |f| %>
	  <%= render 'shared/error_messages' %>
		<%= f.input :first_name %>
		<%= f.input :last_name %>
		<%= f.input :email %>
	  <%=  f.fields_for :address, defaults: {disabled: true } do |address| %>
    	<%= render :partial => 'shared/address', :locals => {:f => address} %>
  	<% end %>
		<%= f.input :phone_number%>
		<% end %>
	</div>
</div>
