<%= simple_form_for touch, html: { class: 'form-horizontal' } do |f| %>
  <%= render 'shared/error_messages', object: f.object  %>
    <%= f.association :appointee, label: 'Gardener', collection: Contact.contacts_by_role('gardener'), label_method: 'first_name', include_blank: false %>
    <% if current_user.gardener? %>
      <%= f.association :contact, label: 'Client', input_html: { class: 'col-md-6' }, collection: Contact.contacts_by_role('client'), label_method: 'first_name', include_blank: 'Please select...' %>
      <%= f.input :by_phone, as: :boolean %>
      <%= f.input :by_visit, as: :boolean %>
    <% else %>
      <%= f.hidden_field :contact_id %>
      <%= f.hidden_field :by_phone, value: true %>
    <% end %>

    <%= f.input(:touch_from,  as: :date_picker, label: 'Contact from', hint: 'Earliest date you want to be contacted?') %>

    <%= f.input :additional_information, input_html: { class: 'col-md-6' } %>
    <% if current_user.gardener? %>
      <%= f.input :completed, as: :boolean %>
    <% end %>
  <div class='form-group'>
    <div class='row'>
      <div class='col-xs-5  col-sm-3  col-md-5'>
        <%= f.submit class: 'btn btn-primary btn-lg' %>
      </div>
      <div class='col-xs-5  col-sm-3  col-md-3'>
        <%= link_to 'Cancel', touches_path, class: 'btn btn-danger btn-lg' %>
      </div>
    </div>
  </div>

<% end %>
