<% provide(:title, 'Contact Me') %>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12">
      <h1>Contact Requests</h1>
    </div>
  <div>
  <div class="row-fluid">

    <div class="span3">
    </div><!--/span-->

    <div class="span9">



      <table class="table table-striped">
        <tr>
          <th>Name</th>
          <th>Phone</th>
          <th>Visit</th>
          <th>Contact From</th>
          <th>Phone No</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>

      <% @touches.each do |touch| %>
        <tr>
          <td><%= touch.contact.full_name %></td>
          <td><%= touch.by_phone? ? 'Yes' : 'No' %></td>
          <td><%= touch.by_visit? ? 'Yes' : 'No' %></td>
          <td><%= l touch.touch_from  %></td>
          <td><%= number_to_phone(touch.contact.home_phone) %></td>
          <td><%= link_to 'Edit', edit_touch_path(touch), class: 'btn btn-mini' %></td>
          <td><%= link_to 'Delete', touch_path(touch), confirm: 'You sure?' , method: 'delete', class: 'btn btn-mini btn-danger' %></td>
        </tr>
      <% end %>
      </table>
      <%= link_to 'Create Contact Me', new_touch_path, class: 'btn btn-primary' %>&nbsp;&nbsp;&nbsp;
    </div><!--/span-->
  </div><!--/row-->
</div><!--/row-->


<%= debug(@touches) unless (Rails.env.production?) %>

