<table class='table table-striped'>
  <thead>
    <tr>
      <th>Title</th>
      <% if current_gardener? %>
        <th>Phone</th>
      <% else %>
        <th>With</th>
      <% end %>

      <th>Starts at</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <% if object.count > 0 %>
      <% object.each do |appointment| %>
        <tr>
          <td><%= appointment.title %></td>
          <% if current_gardener? %>
          <td><%= appointment_client_home_phone_without_area_code(appointment) %></td>
          <% else %>
          <td><%= appointment_gardener_full_name(appointment) %></td>
          <% end %>

          <td><%= l appointment.starts_at, format: :short  %></td>
          <td><%= link_to_edit(edit_appointment_path(appointment)) %></td>
          <td><%= link_to_delete(appointment) %></td>
        </tr>
      <% end %>
    <% else %>
      <tr><td colspan='5'><h2>No Appointments</h2></td></tr>
    <% end %>
  </tbody>
</table>