<div class = 'flex-form'>

  <%= simple_form_for appointment, html: { class: 'form-horizontal' } do |f| %>
    <%= render 'shared/error_messages', object: f.object  %>
    <div>
      <%= f.association :appointee, label: 'Gardener', collection: Person.by_role('gardener'), label_method: 'first_name', include_blank: false %>
    </div>

    <% if current_user.gardener? %>
      <div>
        <%= f.association :person, label: 'Client', collection: Person.by_role('client'),
        label_method: lambda { |person| information(person) }, include_blank: 'Please select...' %>
      </div>
    <% else %>
      <%= f.hidden_field :person_id, value: current_user.person.id %>
    <% end %>
    <%= f.fields_for :appointment_time do |t| %>
      <div>
        <%= t.input :start_date, label: 'Date', as: :date_picker %>
      </div>
      <div>
        <%= t.input :start_time, label: 'Time' , include_blank: false, collection: AppointmentSlot.all, label_method: :humanize_time, value_method: :time  %>
      </div>
      <div>
        <%= t.input :length, required: true, label: 'Length',  include_blank: false, collection: slot_lengths %>
      </div>
    <% end %>

    <div>
      <%= f.input :description %>
    </div>
    <div>
      <div class = 'flex-form'>
        <%= f.button :submit, class: 'flex-button-box  btn  btn-primary' %>
        <%= link_to 'Cancel', appointments_path, class: 'flex-button-box  btn  btn-danger' %>
      </div>
    </div>
  <% end %>
</div>
