<%= simple_form_for @appointment do |f| %>
  <%= render 'shared/error_messages', object: f.object  %>
  <div class="form-inputs">
    <%= f.association :appointee, label: "Gardener", collection: @gardeners,  label_method: "first_name", include_blank: false %>

    <%= f.input :title %>
    <%= f.input :starts_at, as: :string, input_html: { class: 'date_picker' } %>
    <%= f.input :ends_at,   as: :string, input_html: { class: 'date_picker' } %>
    <%= f.input :all_day %>
    <%= f.input :description %>
  </div>
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>

