<%= simple_form_for [@user, @appointment] do |f| %>
  <%= render 'shared/error_messages', object: f.object  %>
  <div class="form-inputs">
    <%= f.association :appointee, collection: @gardeners,  label_method: "first_name", include_blank: false %>

    <%= f.simple_fields_for  :event do |e| %>
      <%= e.input :title %>
      <%= e.input :starts_at, as: :string, input_html: { class: 'date_picker' } %>
      <%= e.input :ends_at,   as: :string, input_html: { class: 'date_picker' } %>
      <%= e.input :all_day %>
      <%= e.input :description %>
  <% end %>
  </div>
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>

