<%= simple_form_for @appointment, :html => { :class => 'form-horizontal' } do |f| %>
  <%= render 'shared/error_messages', object: f.object  %>
  <div class="form-inputs">
    <%= f.association :appointee, label: "Gardener", collection: Contact.contacts_by_role("gardener"), label_method: "first_name", include_blank: false %>

    <% if current_user.role == "gardener" %>
      <%= f.association :contact, label: "Client", collection: Contact.contacts_by_role("client"),
      label_method: lambda { |contact| "#{contact.full_name} / #{number_to_phone_without_area_code(contact.home_phone)}" }, include_blank: false %>

    <% end %>
    <%= f.input :starts_at_date, label: 'Date', readonly: true %>
    <%= f.input :starts_at_time, label: 'Time' , include_blank: false, collection: AppointmentSlot.all, label_method: :humanize_time, value_method: :time  %>
    <%= f.input :length_of_appointment, required: true, label: 'Length',  include_blank: false, collection: [['1hr 30min', 90],['3hrs',180] ]    %>

    <%= f.input :description %>
  </div>
  <div class="form-buttons">
    <%= f.submit class: 'primary_action_button' %>&nbsp;&nbsp;&nbsp;&nbsp;
    <%= link_to 'Cancel', appointments_path, class: 'cancel_button' %>
  </div>
<% end %>

<%= debug ("starts" + @appointment.inspect) unless Rails.env.production? %>

