<a href="<%= root_path %>" id="logo">Garden Care <%= raw("<i class=\"icon-leaf icon-white\"></i>")  %></a>
<nav>
  <ul class="nav pull-right">
    <li>
      <a href="<%= help_path %>"><%= raw("<i class=\"icon-question-sign icon-white\"></i>") %>Help</a>
    </li>
    <% if signed_in? %>
      <li><%= link_to "Users", users_path if current_user.admin? %></li>
      <li id="fat-menu" class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          <%= raw("<i class=\"icon-user icon-white\"></i>") + "#{current_user.first_name} #{current_user.last_name}"%><b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <li><%= link_to "Profile", current_user %></li>
          <li><%= link_to "Update Profile", edit_user_path(current_user) %></li>
          <li class="divider"></li>
          <li>
            <%= link_to "Sign out", signout_path, method: "delete" %>
          </li>
        </ul>
      </li>
    <% else %>
      <li><%= link_to "Sign in", signin_path %></li>
    <% end %>
  </ul>
</nav>