<!DOCTYPE html>
<html>
  <head>
    <title><%= application_title_pipe_page_title(yield(:title)) %></title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
    <%= favicon_link_tag "icons/spade.png"  unless Rails.env.production?  %>
    <%= favicon_link_tag "icons/favicon.png" if Rails.env.production?  %>
  </head>
  <body class="container">
    <header class="navbar navbar-fixed-top">
      <nav class="navbar-inner">
        <%= render 'layouts/navigation' %>
      </nav>
    </header>
    <%= render 'layouts/messages' %>
    <%= yield %>
    <%= render 'layouts/footer' %>
    <%= debug(params) unless Rails.env.production? || true %>
    <%= debug(Rails.env) unless Rails.env.production? || true %>
  </body>
</html>
