<!DOCTYPE html>
<html>
  <head>
    <title><%= application_titleized(page_title: yield(:title)) %></title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
    <%= favicon_link_tag 'icons/spade.png'  unless Rails.env.production?  %>
    <%= favicon_link_tag 'icons/favicon.png' if Rails.env.production?  %>
  </head>
  <body>
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <main class = 'container' role ='main'>
      <%= render 'layouts/messages' %>
      <%= yield %>
      <%= render 'layouts/footer' %>
    </main>
  </body>
</html>
